
<div class="container">

	<% if @note.id.nil? %>
	  <h1>New Note</h1>
	  <form id="note_form" action="/note/create" method="post">
	<% else %>
	  <h1>Edit Note</h1>
	  <form id="note_form" action="/note/update/<%= @note.id %>" method="post">
	  <input type="hidden" name="_method" value="put">
	<% end %>

		<input type="text" name="note[title]" placeholder="Enter Your Title" value="<%= @note.title %>"><br><br>
		<textarea type="text" cols="40" rows="5" name="note[content]" placeholder="Enter Some Stuff Here"><%= @note.content %></textarea>
		<br><br>
	<% if @note.id.nil? %>
		<input type="submit" value="Create!">
	<% else %>
		<input type="submit" value="Update!">
	<% end %>
	</form>
</div>